<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Capture</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.at("css/app.css")">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.js"></script>
        <script src="@routes.Assets.at("simplejs/main.js")"></script>
    </head>
    <body ng-app="myapp">
        <h1>The Reactive Capture Page</h1>
        <div ng-controller="HelloController">
            <!--button ng-click="myData.doClick(item, $event)">Send WebSocket command</button>
            <br/>
            Data from server: {{myData.fromServer}}
-->
            <ul>
                <!--li ng-repeat="story in myData.fromServer">{{story.title}}</li-->
                <li ng-repeat="story in myData.fromServer track by $index">{{story.title}}-{{story.status}}</li>
            </ul>

        </div>
    </body>
</html>